{
  "extends": "./index.js",
  "env": {
    "node": true
  },
  "rules": {
    "quote-props": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true,
        "useTabs": false,
        "trailingComma": "all",
        "arrowParen": "always",
        "quoteProps": "preserve"
      }
    ]
  }
}
